.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    /* Adjust the height based on your layout */
}

.loader {
    border: 8px solid #908b8b;
    border-top: 8px solid #000f07;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}